

button{
    top: 563px;
    left: 8px;
    width: 375px;
    height: 50px;
    /* UI Properties */
    background: #6C6D80 0% 0% no-repeat padding-box;
    box-shadow: 2px 4px 10px #00000050;
    border-radius: 55px;
    opacity: 1;
}