@import "@/styles/global.scss";

.geografisk-have {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $background-color;
  min-height: 100vh;

  .banner-image {
    width: 100%; 
    margin-bottom: 20px;
  }

  h1 {
    font-size: $extra-large-font-size;
    color: $primary-color;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    color: $secondary-color;
    font-size: $medium-font-size;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px; 
    margin-bottom: 150px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    button {
      background-color: $btn-color;
      border: none;
      border-radius: 25px;
      padding: 15px 20px;
      font-size: $medium-font-size;
      color: white;
      box-shadow: $btn-shadow;
      transition: background-color 0.3s;
      
      

      &:hover {
        background-color: darken($btn-color, 10%);
      }
    }
  }

  @media (max-width: 768px) {
    
  }
}
